<policies>
    <inbound>
        <base />
        <choose>
            <when condition="@{
                var origin = context.Request.Headers.GetValueOrDefault("Origin", "");
                return origin == "https://www.josephinthe.cloud" || 
                       origin == "https://josephinthe.cloud" || 
                       origin == "https://josephcloudcdnendpoint.azureedge.net" ||
                       origin == "https://testenvfdendpoint-fqhtf3ckgvc2cuad.z02.azurefd.net" ||
                       origin == "http://localhost:5173" ||
                       origin == "https://apimanagement.hosting.portal.azure.net" ||
                       origin == "https://jcloud-fd-endpoint-a84fb9e1-fsfdh6cgeyfmfch0.z02.azurefd.net" ;
            }">
                <!-- Allow the request -->
            </when>
            <otherwise>
                <return-response>
                    <set-status code="403" reason="Forbidden" />
                    <set-body>Invalid origin</set-body>
                </return-response>
            </otherwise>
        </choose>
                
        <!-- Allow CORS -->
        <cors>
            <allowed-origins>
                <origin>https://www.josephinthe.cloud</origin>
                <origin>https://josephinthe.cloud</origin>
                <origin>http://localhost:5173</origin>
                <origin>https://josephcloudcdnendpoint.azureedge.net</origin>
                <origin>https://testenvfdendpoint-fqhtf3ckgvc2cuad.z02.azurefd.net</origin>
                <origin>https://apimanagement.hosting.portal.azure.net</origin>
            </allowed-origins>
            <allowed-methods>
                <method>POST</method>
            </allowed-methods>
            <allowed-headers>
                <header>*</header>
            </allowed-headers>
            <expose-headers>
                <header>*</header>
            </expose-headers>
        </cors>
        <set-backend-service backend-id="apimanbackend07" />      
    </inbound>
    <backend>
        <forward-request timeout="60" />
    </backend>
    <outbound>
        <set-header name="X-Powered-By" exists-action="delete" />
        <set-header name="X-AspNet-Version" exists-action="delete" />
        <base />
    </outbound>
    <on-error>
        <base />
    </on-error>
</policies>